*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body{
  margin: 0;
}
/* Start Catigory Part */
.classic-sidebar{
  width: 300px;
  position: absolute;
  right: 0;
  top: 20px;
  padding: 20px;
}
/* End Catigory Part */