*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body{
  margin: 0;
}
/* Start Catigory Part */
.classic-sidebar{
  width: 300px;
  position: absolute;
  right: 0;
  top: 20px;
  padding: 20px;
}
.classic-sidebar > div > h3{
  margin-left: 10px;
  position: relative;
}
.classic-sidebar > div > h3::after{
  content: "";
  width: 25%;
  height: 2px;
  background-color: #5188ec;
  position: absolute;
  top: 50%;
  transform: translate(10%,-50%);
  -webkit-transform: translate(10%,-50%);
  -moz-transform: translate(10%,-50%);
  -ms-transform: translate(10%,-50%);
  -o-transform: translate(10%,-50%);
}
.catigory div{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: #777;
  font-size: 14px;
  font-weight: 550;
}
.catigory div:not(:last-child){
  border-bottom: 2px solid #eee;
}
.catigory div input{
  display: none;
}
/* End Catigory Part */